*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

html, body{
  height: 100%;
  width: 100%;
}

.parent{
  padding: 30px;
}

input,button{
  padding: 12px 30px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  margin: 10px;
  border-radius: 8px;
}